body {
    background-color: palevioletred;
  }
  
  h1 {
    color:whitesmoke;
    text-align: center;
  }

  h2 {
    color: whitesmoke;
    text-align: center;
  }

  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .card {
       background-color:palevioletred;
       display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
  }
  .card-img-top {
    border-style: solid;
    border-width: medium;
    color: thistle;
    border-radius: 25px;
 
  padding: 20px;
  width: 285px;
  height: 150px;
  }
  .card-body {
    border-style: solid;
    border-width: medium;
    color: thistle;     
  }
  .card-title {
  }
  .card-text {
  }
  .result-text {
    text-align: center;
    border-style: solid;
    border-width: medium;
    color: whitesmoke;
  } 

  .button {
    background-color: palevioletred; /* Green */
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      justify-content: center;
      align-items: center;
      display: flex; 
      justify-content: center;
  }

  #Btn  {
    background-color: palevioletred; /* Green */
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      justify-content: center;
      align-items: center;
      display: flex; 
      justify-content: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

  }
      
    

  